Repository skiosa/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeppard, @grossamos, @Y05h129, @lukasljl

.github/CODEOWNERS:

* @jeppard

content/* @grossamos @Y05h129
ads/appendix.tex @grossamos @Y05h129
ads/acronyms.tex @grossamos @Y05h129

.drone.yml @lukasljl

first draft for documenting role organisation
  content/02kapitel.tex
  images/ProjektOrganigramm2.png
Owners: @grossamos, @Y05h129, @jeppard

Added Reviewer & small fix
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Skios 84 initial uniform polling implementation (#16)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Doku to SKIOS-109-backend-feed-mutations
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

added user-story for SKIOS-117.
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added stories
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added reviewer
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added Story for SKIOS-119-frontend-readme (#15)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added Reviewers
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added Stories for SKIOS 121 and SKIOS 115 (#20)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Updated Reviewers of SKIOS-121
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

added user-story for SKIOS-117. (#19)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Doku to SKIOS-109-backend-feed-mutations (#18)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added Text
  .vscode/ticket.code-snippets
  content/01kapitel.tex
Owners: @jeppard, @grossamos, @Y05h129

Merged Tickets
  content/01kapitel.tex
  dokumentation-blx.bib
Owners: @grossamos, @Y05h129, @jeppard

Added Dokumentation
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

nachträgliche Überarbeitung
  content/02kapitel.tex
Owners: @grossamos, @Y05h129

ProjectOrganigramm2.png updated
  content/02kapitel.tex
  images/ProjectOrganigramm2.png
  images/ProjektOrganigramm2.png
Owners: @grossamos, @Y05h129, @jeppard

docs(chap4): add doc for all previous tickets
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

fixed png placement
  content/02kapitel.tex
Owners: @grossamos, @Y05h129

finished must have requirements
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

spell check
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

reverted title
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Added Reviewer
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

added dots
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

SKIOS-XX-documentation-simon-morgenstern (#23)
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

Added Reviewer
  content/04kapitel.tex
Owners: @grossamos, @Y05h129

fixed review
  bibliographie.bib
  content/05kapitel.tex
Owners: @jeppard, @grossamos, @Y05h129

changes from review
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

more review
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

fixed review
  content/05kapitel.tex
Owners: @grossamos, @Y05h129

fix
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

added story
  content/04kapitel.tex
  dokumentation.synctex(busy)
Owners: @grossamos, @Y05h129, @jeppard

added story
  dokumentation.synctex(busy)
Owners: @jeppard

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129

Update content/01kapitel.tex
  content/01kapitel.tex
Owners: @grossamos, @Y05h129
